* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



img {
  width: 100%;
}
@media (min-width: 1700px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1600px;
  }
}
@media (max-width: 1700px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1500px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 1336px) {
  :root {
    font-size: 12px;
  }
}
