@import "./../../Styles/Base/_icons.scss";
@import "./../../Styles/Base/_variables.scss";

.latest {
  padding: 5.6875rem 0 8.375rem;
  .latest__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 9%);
    padding-bottom: 2rem;
    margin-bottom: 4.375rem;
    .latest__p {
      color: $pinkColor;
      font-family: $fontFamily;
    }
    .latest__content__h2 {
      font-size: 4rem;
      max-width: 40rem;
      font-weight: 600;
    }
    .latest__btn {
      padding: 1rem 4.375rem;
      background-color: $purpleColor;
      color: $whitecolor;
      font-size: 1.5rem;
      font-family: $fontFamily;
      border: none;
      border-radius: 0;
      &:hover {
        background-color: $bgNav;
        color: $whitecolor;
      }
    }
  }

  .latest__cards {
    /* display: flex;
          justify-content: space-between;
          align-items: center; */
    .card {
      .card-body {
        padding: 2.5rem;
        background-color: $greyColor;
      }
      position: relative;
      overflow: hidden;
      .image-container {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .card-body__top__content {
        display: flex;
        align-items: center;
      }
      .line {
        border: 1px solid $pinkColor;
        width: 12%;
        height: 1px;
        position: relative;
        bottom: 0.5rem;
        margin-inline-end: 1rem;
      }
      .latest__smaller-card-body {
        display: flex;
        align-items: center;
        display: none;
      }
      .card-body__top__content span {
        color: $pinkColor;
        margin-inline-start: 0.375rem;
      }
      .card-body__bottom__content {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 1.7rem;
      }
      .card-body__bottom__content p {
        font-size: 1.125rem;
        font-family: $fontFamily;
      }
      .card-body__bottom__content span {
        font-size: 1.5rem;
      }
      .card-body h5 {
        font-weight: 600;
        font-size: 1.875rem;
        font-family: $fontFamily;
        line-height: 2.5rem;
        & :hover {
          color: darkblue;
        }
      }
      .icon-pen {
        color: $pinkColor;
        margin-inline-end: 1rem;
        position: relative;
        bottom: 0.5rem;
      }
      .latest__name {
        display: flex;
        align-items: center;
      }

      .latest__name p {
        color: #464646;
      }

      .latest__date {
        display: flex;
        align-items: center;
      }
      .icon-calendar {
        color: $pinkColor;
        margin-inline-end: 0.5rem;
        position: relative;
        bottom: 0.5rem;
      }
    }
  }
  .selected-article-container {
    margin-top: 5.625rem;

    img {
      float: left;
      margin-inline-end: 2.562rem;
    }

    .expanded__card-img {
      max-width: 43.625rem;
    }

    .card-body__top__content {
      display: flex;
      align-items: center;
    }

    .line {
      border: 1px solid $pinkColor;
      width: 4%;
      height: 1px;
      position: relative;
      bottom: 0.5rem;
      margin-inline-end: 1rem;
    }

    h2 {
      line-height: 4.1875rem;
      font-size: 3.125rem;
    }

    .card-body__bottom__content {
      display: flex;
    }

    .card-body__bottom__content p {
      font-size: 1.125rem;
      font-family: $fontFamily;
    }

    .card-body__bottom__content span {
      font-size: 1.5rem;
    }

    .icon-pen {
      color: $pinkColor;
      margin-inline-end: 1rem;
      position: relative;
      bottom: 0.5rem;
    }

    .latest__name {
      display: flex;
      align-items: center;
    }

    .latest__name p {
      color: #464646;
    }
    .selected__article-description{
      line-height: 2rem;
    }
    .selected__article-content{
      line-height: 2.375rem;
      margin: 0;
      margin-bottom: 20rem;
    }

    .latest__date {
      display: flex;
      align-items: center;
      margin-inline-start: 5.4375rem;
      span{
        margin-inline-end:1rem ;
      }
    }

    .icon-calendar {
      color: $pinkColor;
      margin-inline-end: 0.5rem;
      position: relative;
      bottom: 0.5rem;
    }
  }
}
