//global variables
$fontFamily: "Roboto";
$bgNav: #000000;
$whitecolor: #ffffff;
$greyBg: #f2f2f2;
$pinkColor: #e4007e;
$purpleColor: #5130b5;
$greyColor: #eae9e9;
$mediaBg: #141414;
$headers: #010101;